.faqs-col-checkbox {
    width: 40px;
}

.faqs-title-cell {
    display: block;
    max-width: 360px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    text-transform: uppercase;
}
